.page {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center
}

.container {
    background-color: #FFF;
    box-shadow: 3px 3px 5px;
    padding: 1rem;
}

.titulo {
    margin: 0; 
    font-size: 52px; 
    font-weight: 700
}

.subtitulo {
    margin: 0; 
    font-size: 24px; 
    font-weight: 600
}

.btn-voltar {
    padding: 12px 6px;
    font-size: 16px;

    border: 0;
    border-radius: 3px;

    background-color: #000;
    color: #fff;

    &:hover {
        cursor: pointer;
        background-color: #898989;
    };

    &:active {
        transform: scale(0.8);
    }
}